<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div style="margin: auto;" class="max1">
        <div>
<!-- nav bar -->
<nav class="pad">
    <div class="fl">
        <div class="fl-2">
<h3 class="fs1">SKILLFY</h3>
        </div>
        <div class="fl-2">
<div style="max-width: 250px;margin-left: auto;" class="fl jus-end">
    <div class="fl-2">
<img src="./img/not.png" width="30px" alt="" srcset="">
    </div>
    <div class="fl-2">
        <img src="./img/sett.png" width="30px" alt="" srcset="">
    </div>
</div>
        </div>
    </div>
</nav>
        </div>
        <div>
<!-- total no of project count -->
<div>
    <div style="justify-content: space-between;align-items: center;background: rgb(149, 133, 212);color: white;padding: 20px;" class="fl">
        <div>
<h2>WELCOME TO SKILLFY</h2>
        </div>
        <div style="justify-content: space-between;m" class="fl">
            <!-- div total count -->
            <div>
<div style="height: 80px;background: silver;width: 250pxpx;padding: 10px;align-items: center;justify-content: space-between;margin-left: 10px; " class="fl opti">
    <div>
        <img src="./img/not.png" width="30px" alt="" srcset="">
    </div>
    <div style="margin-left: 20px;">
        <h3 class="fs3">9</h3>
        <h4 class="fs3">no of project</h4>
    </div>
</div>
            </div>
            <div>
                <div style="height: 80px;background: silver;width: 250pxpx;padding: 10px;align-items: center;justify-content: space-between;margin-left: 10px; " class="fl opti">
                    <div>
                        <img src="./img/not.png" width="30px" alt="" srcset="">
                    </div>
                    <div style="margin-left: 20px;">
                        <h3 class="fs3">9</h3>
                        <h4 class="fs3">no of project</h4>
                    </div>
                </div>
            </div>
            <div>
                <div style="height: 80px;background: silver;width: 250pxpx;padding: 10px;align-items: center;justify-content: space-between; margin-left: 10px;" class="fl opti">
                    <div>
                        <img src="./img/not.png" width="30px" alt="" srcset="">
                    </div>
                    <div style="margin-left: 20px;">
                        <h3 class="fs3">9</h3>
                        <h4 class="fs3">no of project</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
        <div style="padding: 10px 0px;" class="fl">
<div class="fl-10">
<!-- banner -->






<!-- course detail -->
<h2 class="fs1">Open Project</h2>

<div style="flex-wrap: wrap;justify-content: center;" class="fl">
    
    <div style="text-align: center;min-width: 250px;margin:20px 10px ;" class="fl-3 box-s">
        
                        <h4 style="padding: 5px 0px 5px 0px;" class="fs3">no of project</h4>
                        <div style="width: 100%;" class="fl">
                            <div class="fl-2">
                                <h3 style="padding: 5px 0px;" class="fs4">Team required</h3>
                            </div>
                            <div class="fl-2">
                                <h3 style="padding: 5px 0px;" class="fs4">Available team</h3>
                            </div>
                        </div>
                        <div style="width: 100%;" class="fl">
                            <div class="fl-2">
                                <h3 style="padding: 5px 0px;" class="fs4">5</h3>
                            </div>
                            <div class="fl-2">
                                <h3 style="padding: 5px 0px;" class="fs4">3</h3>
                            </div>
                        </div>
                        <h4 style="padding: 5px 0px 5px 0px;" class="fs3">Requid Skill</h4>
                        <div style="flex-wrap: wrap;padding: 10px;margin: auto;" class="fl">
                            <h3 class="fs8">c++</h3>
                            <h3 class="fs8">c++</h3>
                            <h3 class="fs8">c++</h3>
                            <h3 class="fs8">c++</h3>
                            <h3 class="fs8">c++</h3>
                            <h3 class="fs8">c++</h3>
                            <h3 class="fs8">c++</h3>
                            <h3 class="fs8">c++</h3>
                        </div>
                        <hr>
                        <h3 class="fs3"> <select name="" id="" class="inp1">
                            <option value="">Complete</option>
                            <option value="">Under Process</option>
                            <option value="">open</option>
                        </select></h3>
                        
                        <h3 class="fs3"><button style="border-radius: none;width: 100%;" class="btn3">Set Status</button></h3>
                        
                        
                        <h3 class="fs3"><button style="border-radius: none;width: 100%;" class="btn3">Close</button></h3>
    </div>
    
</div>
<h2 class="fs1">Request for Project</h2>

<div style="width: 800px;margin:auto;">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Project</th>
            <th scope="col">Approve</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button style="border-radius: none;" class="btn3">APPROVE</button></td>
          </tr>
         
        </tbody>
      </table>
</div>


</div>
<div class="fl-2">
    <div style="margin: 10px;margin-bottom: 20px;" >
        <div style="border: 1px solid black;padding:10px">
            <h2>Post Project</h2>
            <hr>
            <div style="flex-direction: column;" class="fl">
                <input type="text" class="inp1">
                <select name="" id="" class="inp1">
                    <option value="">css</option>
                    <option value="">html</option>
                    <option value="">nodejs</option>
                </select>
                <select name="" id="" class="inp1">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <select name="" id="" class="inp1">
                    <option value="">Manual </option>
                    <option value="">Auto</option>
                    
                </select>
                <button class="inp1">Post Project</button>
                
                
            </div>
    
        </div>
    </div>

    <!-- my project -->

    <div style="margin: 10px;margin-bottom: 20px;" >
        <div style="border: 1px solid black;padding:10px">
            <h2>My Project</h2>
            <hr>
            <div style="flex-direction: column;" class="fl">
                <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                    
                    <div class="fl-10">
                        <h3 style="float: left;" class="fs3">chat</h3>
                        <button style="float: right;" class="btn2">In Progress</button>
                    </div>
                </div>
                
            </div>
    
        </div>
    </div>
<!-- team detail -->



<div style="margin: 10px;" >
    <div style="border: 1px solid black;padding:10px">
        <h2>My Team</h2>
        <hr>
        <div style="flex-direction: column;" class="fl">
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                <div style="flex: 1;" class="fl-2">
                    <img src="./img/sett.png" width="30px" alt="" srcset="">
                </div>
                <div class="fl-10">
                    <h3 style="float: left;margin-left: 5px;" class="fs3">Jasraj</h3>
                    <button style="float: right;" class="btn1">Chat</button>
                </div>
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                <div style="flex: 1;" class="fl-2">
                    <img src="./img/sett.png" width="30px" alt="" srcset="">
                </div>
                <div class="fl-10">
                    <h3 style="float: left;margin-left: 5px;" class="fs3">Jasraj</h3>
                    <button style="float: right;" class="btn1">Chat</button>
                </div>
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                <div style="flex: 1;" class="fl-2">
                    <img src="./img/sett.png" width="30px" alt="" srcset="">
                </div>
                <div class="fl-10">
                    <h3 style="float: left;margin-left: 5px;" class="fs3">Jasraj</h3>
                    <button style="float: right;" class="btn1">Chat</button>
                </div>
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                <div style="flex: 1;" class="fl-2">
                    <img src="./img/sett.png" width="30px" alt="" srcset="">
                </div>
                <div class="fl-10">
                    <h3 style="float: left;margin-left: 5px;" class="fs3">Jasraj</h3>
                    <button style="float: right;" class="btn1">Chat</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div style="margin: 10px;margin-bottom: 20px;" >
    <div style="border: 1px solid black;padding:10px">
        <h2>My Skill</h2>
        <hr>
        <div style="flex-direction: column;" class="fl">
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                
                <div class="fl-10">
                    <h3 style="float: left;" class="fs3">chat</h3>
                </div>
                
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                
                <div class="fl-10">
                    <h3 style="float: left;" class="fs3">chat</h3>
                </div>
                
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                
                <div class="fl-10">
                    <h3 style="float: left;" class="fs3">chat</h3>
                </div>
                
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                
                <div class="fl-10">
                    <h3 style="float: left;" class="fs3">chat</h3>
                </div>
                
            </div>
        </div>

    </div>
</div>

<div style="margin: 10px;margin-bottom: 20px;" >
    <div style="border: 1px solid black;padding:10px">
        <h2>To Do List</h2>
        <hr>
        <div style="flex-direction: column;" class="fl">
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                
                <div class="fl-10">
                    <h3 style="float: left;" class="fs3">chat</h3>
                </div>
                
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                
                <div class="fl-10">
                    <h3 style="float: left;" class="fs3">chat</h3>
                </div>
                
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                
                <div class="fl-10">
                    <h3 style="float: left;" class="fs3">chat</h3>
                </div>
                
            </div>
            <div style="align-items: center;background: rgb(230, 227, 227);padding: 20px;margin-bottom: 10px;" class="fl">
                
                <div class="fl-10">
                    <h3 style="float: left;" class="fs3">chat</h3>
                </div>
                
            </div>
        </div>
<div class="fl">
    <div class="fl-10">
        <h3><input class="in" type="text"><button style="float: right;border-radius: none;" class="btn3">ADD</button></h3>
        
        
    </div>
</div>
    </div>
</div>




<!-- to do list -->
</div>
        </div>
        <div>
<!-- footer -->
        </div>
    </div>
    <footer>
        <hr>
        <h3  class="fs4">Power by Skillfy</h3>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>